* {
  font-family: 'Exo 2', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}
