html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

video {
  width: 120px;
  height: 90px;
}

button {
  font-weight: bold !important;
}

.session-form label {
  font-size: 12px;
}

.subscribe-remote-check .mat-checkbox-label {
  line-height: 15px !important;
}

.video-container video {
  float: left;
}

.video-container div.data-node {
  float: left;
  position: relative;
  margin-left: -120px;
  margin-top: -14px;
}

.video-container p {
  background: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  color: #797979;
  font-weight: 100;
  font-size: 14px;
  border-bottom-right-radius: 2px;
}

.mat-expansion-panel-body {
  font-size: 9.5px !important;
  padding: 0 9px 0px !important;
  background-color: white;
  border: 3px solid #e0e0e0;
  line-height: 13px;
  padding: 4px 7px 3px 7px !important;
  word-break: break-all;
}

.mat-expansion-indicator {
  display: none;
}

.mat-expansion-indicator::after {
  display: none;
}

.mat-expansion-panel-spacing {
  margin: 3px 0 !important;
}
