* {
  font-family: 'Exo 2', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

video {
  max-width: 125px;
}

button {
  font-weight: bold !important;
}

.session-form label {
  font-size: 12px;
}

.subscribe-remote-check .mat-checkbox-label {
  line-height: 15px !important;
}

.video-container video {
	float: left;
}

.video-container div {
  float: left;
  position: relative;
  margin-left: -46%;
  margin-top: -5%;
}

.video-container p {
  background: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  color: #4d4d4d;
  font-weight: 100;
  font-size: 14px;
  border-bottom-right-radius: 2px;
}
