<!DOCTYPE html>
<html>
<body>
	<h1>
		ERROR: unknown URL
		<code>
			<span id="url-title"></span>
		</code>
	</h1>
	<h2>
		OpenVidu Server does not have path
		<code>
			<span id="path"></span>
		</code>
		mapped
	</h2>
	<p>
		If you are seeing this message as a result of COMPOSED recording, the
		problem is most likely an issue with the recording URL.<br>
		Current recording URL is <strong id="url"></strong><br> The
		recording service cannot access the recording layout through this URL.<br>
		Use OpenVidu configuration property <strong><code>OPENVIDU_RECORDING_COMPOSED_URL</code></strong>
		to provide a valid URL for the recording service to connect to.
	</p>
</body>

<script>
	window.onload = function() {
		var url = window.location.origin + window.location.pathname;
		document.getElementById("url-title").innerHTML = url;
		document.getElementById("url").innerHTML = url;
		document.getElementById("path").innerHTML = window.location.pathname;
	}
</script>

<style>
h1 {
	font-size: 32px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 22px;
}
</style>

</html>