<ov-videoconference
	*ngIf="success"
	[participantName]="_participantName"
	[tokens]="_tokens"
	[minimal]="_minimal"
	[prejoin]="_prejoin"
	[videoMuted]="_videoMuted"
	[audioMuted]="_audioMuted"
	[toolbarScreenshareButton]="_toolbarScreenshareButton"
	[toolbarFullscreenButton]="_toolbarFullscreenButton"
	[toolbarLeaveButton]="_toolbarLeaveButton"
	[toolbarChatPanelButton]="_toolbarChatPanelButton"
	[toolbarParticipantsPanelButton]="_toolbarParticipantsPanelButton"
	[toolbarDisplayLogo]="_toolbarDisplayLogo"
	[toolbarDisplaySessionName]="_toolbarDisplaySessionName"
	[streamDisplayParticipantName]="_streamDisplayParticipantName"
	[streamDisplayAudioDetection]="_streamDisplayAudioDetection"
	[streamSettingsButton]="_streamSettingsButton"
	[participantPanelItemMuteButton]="_participantPanelItemMuteButton"
	(onJoinButtonClicked)="_onJoinButtonClicked()"
	(onToolbarLeaveButtonClicked)="_onToolbarLeaveButtonClicked()"
	(onToolbarCameraButtonClicked)="_onToolbarCameraButtonClicked()"
	(onToolbarMicrophoneButtonClicked)="_onToolbarMicrophoneButtonClicked()"
	(onToolbarScreenshareButtonClicked)="_onToolbarScreenshareButtonClicked()"
	(onToolbarParticipantsPanelButtonClicked)="_onToolbarParticipantsPanelButtonClicked()"
	(onToolbarChatPanelButtonClicked)="_onToolbarChatPanelButtonClicked()"
	(onToolbarFullscreenButtonClicked)="_onToolbarFullscreenButtonClicked()"
	(onSessionCreated)="_onSessionCreated($event)"
	(onParticipantCreated)="_onParticipantCreated($event)"
></ov-videoconference>
