<ov-videoconference
	*ngIf="success"
	[simulcast]="_simulcast"
	[participantName]="_participantName"
	[tokens]="_tokens"
	[minimal]="_minimal"
	[lang]="_lang"
	[langOptions]="_langOptions"
	[captionsLang]="_captionsLang"
	[captionsLangOptions]="_captionsLangOptions"
	[prejoin]="_prejoin"
	[videoMuted]="_videoMuted"
	[audioMuted]="_audioMuted"
	[toolbarScreenshareButton]="_toolbarScreenshareButton"
	[toolbarRecordingButton]="_toolbarRecordingButton"
	[toolbarBroadcastingButton]="_toolbarBroadcastingButton"
	[toolbarFullscreenButton]="_toolbarFullscreenButton"
	[toolbarBackgroundEffectsButton]="_toolbarBackgroundEffectsButton"
	[toolbarSettingsButton]="_toolbarSettingsButton"
	[toolbarLeaveButton]="_toolbarLeaveButton"
	[toolbarActivitiesPanelButton]="_toolbarActivitiesPanelButton"
	[toolbarChatPanelButton]="_toolbarChatPanelButton"
	[toolbarParticipantsPanelButton]="_toolbarParticipantsPanelButton"
	[toolbarDisplayLogo]="_toolbarDisplayLogo"
	[toolbarDisplaySessionName]="_toolbarDisplaySessionName"
	[toolbarCaptionsButton]="_toolbarCaptionsButton"
	[streamDisplayParticipantName]="_streamDisplayParticipantName"
	[streamDisplayAudioDetection]="_streamDisplayAudioDetection"
	[streamSettingsButton]="_streamSettingsButton"
	[streamResolution]="_streamResolution"
	[streamFrameRate]="_streamFrameRate"
	[participantPanelItemMuteButton]="_participantPanelItemMuteButton"
	[activitiesPanelRecordingActivity]="_activitiesPanelRecordingActivity"
	[activitiesPanelBroadcastingActivity]="_activitiesPanelBroadcastingActivity"
	[recordingActivityRecordingsList]="_recordingActivityRecordingsList"
	[recordingActivityRecordingError]="_recordingActivityRecordingError"
	[broadcastingActivityBroadcastingInfo]="_broadcastingActivityBroadcastingInfo"
	[broadcastingActivityBroadcastingError]="_broadcastingActivityBroadcastingError"
	(onJoinButtonClicked)="_onJoinButtonClicked()"
	(onToolbarLeaveButtonClicked)="_onToolbarLeaveButtonClicked()"
	(onToolbarCameraButtonClicked)="_onToolbarCameraButtonClicked()"
	(onToolbarMicrophoneButtonClicked)="_onToolbarMicrophoneButtonClicked()"
	(onToolbarScreenshareButtonClicked)="_onToolbarScreenshareButtonClicked()"
	(onToolbarParticipantsPanelButtonClicked)="_onToolbarParticipantsPanelButtonClicked()"
	(onToolbarChatPanelButtonClicked)="_onToolbarChatPanelButtonClicked()"
	(onToolbarActivitiesPanelButtonClicked)="_onToolbarActivitiesPanelButtonClicked()"
	(onToolbarFullscreenButtonClicked)="_onToolbarFullscreenButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked('toolbar')"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked('toolbar')"
	(onToolbarStartBroadcastingClicked)="onToolbarStartBroadcastingClicked.emit()"
	(onToolbarStopBroadcastingClicked)="onStopBroadcastingClicked('toolbar')"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked('panel')"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked('panel')"
	(onActivitiesPanelDownloadRecordingClicked)="_onActivitiesDownloadRecordingClicked($event)"
	(onActivitiesPanelDeleteRecordingClicked)="_onActivitiesDeleteRecordingClicked($event)"
	(onActivitiesPanelStartBroadcastingClicked)="onStartBroadcastingClicked($event)"
	(onActivitiesPanelStopBroadcastingClicked)="onStopBroadcastingClicked('panel')"
	(onSessionCreated)="_onSessionCreated($event)"
	(onParticipantCreated)="_onParticipantCreated($event)"
></ov-videoconference>
