@use '@angular/material' as mat;
@include mat.core();

// Define your custom palettes
$openvidu-components-primary: mat.define-palette(mat.$blue-grey-palette, 500, 300);
$openvidu-components-accent: mat.define-palette(mat.$amber-palette, 500, 700, A100);
$openvidu-components-warn: mat.define-palette(mat.$red-palette);

// Define the theme
$openvidu-components-theme: mat.define-light-theme(
	(
		color: (
			primary: $openvidu-components-primary,
			accent: $openvidu-components-accent,
			warn: $openvidu-components-warn
		)
	)
);

// Include the non-legacy themes for the components
@include mat.all-component-themes($openvidu-components-theme);

// If you have custom typography configurations, include them as well
@include mat.all-component-typographies($openvidu-components-theme);

// If you need to adjust density, include it as well
// @include mat.all-component-density-styles($openvidu-components-theme);

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: 'Roboto', 'RobotoDraft', Helvetica, Arial, sans-serif;
}

#poster-text {
	padding: 0px !important;
}
ov-chat-panel .text-info {
	margin: 3px auto !important;
}
