<ov-videoconference
	*ngIf="success"
	[participantName]="_participantName"
	[tokens]="_tokens"
	[minimal]="_minimal"
	[prejoin]="_prejoin"
	[videoMuted]="_videoMuted"
	[audioMuted]="_audioMuted"
	[toolbarScreenshareButton]="_toolbarScreenshareButton"
	[toolbarRecordingButton]="_toolbarRecordingButton"
	[toolbarFullscreenButton]="_toolbarFullscreenButton"
	[toolbarLeaveButton]="_toolbarLeaveButton"
	[toolbarActivitiesPanelButton]="_toolbarActivitiesPanelButton"
	[toolbarChatPanelButton]="_toolbarChatPanelButton"
	[toolbarParticipantsPanelButton]="_toolbarParticipantsPanelButton"
	[toolbarDisplayLogo]="_toolbarDisplayLogo"
	[toolbarDisplaySessionName]="_toolbarDisplaySessionName"
	[streamDisplayParticipantName]="_streamDisplayParticipantName"
	[streamDisplayAudioDetection]="_streamDisplayAudioDetection"
	[streamSettingsButton]="_streamSettingsButton"
	[participantPanelItemMuteButton]="_participantPanelItemMuteButton"
	[activitiesPanelRecordingActivity]="_activitiesPanelRecordingActivity"
	[recordingActivityRecordingsList]="_recordingActivityRecordingsList"
	[recordingActivityRecordingError]="_recordingActivityRecordingError"
	(onJoinButtonClicked)="_onJoinButtonClicked()"
	(onToolbarLeaveButtonClicked)="_onToolbarLeaveButtonClicked()"
	(onToolbarCameraButtonClicked)="_onToolbarCameraButtonClicked()"
	(onToolbarMicrophoneButtonClicked)="_onToolbarMicrophoneButtonClicked()"
	(onToolbarScreenshareButtonClicked)="_onToolbarScreenshareButtonClicked()"
	(onToolbarParticipantsPanelButtonClicked)="_onToolbarParticipantsPanelButtonClicked()"
	(onToolbarChatPanelButtonClicked)="_onToolbarChatPanelButtonClicked()"
	(onToolbarActivitiesPanelButtonClicked)="_onToolbarActivitiesPanelButtonClicked()"
	(onToolbarFullscreenButtonClicked)="_onToolbarFullscreenButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked('toolbar')"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked('toolbar')"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked('panel')"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked('panel')"
	(onActivitiesPanelDownloadRecordingClicked)="_onActivitiesDownloadRecordingClicked($event)"
	(onActivitiesPanelDeleteRecordingClicked)="_onActivitiesDeleteRecordingClicked($event)"
	(onActivitiesPanelPlayRecordingClicked)="_onActivitiesPlayRecordingClicked($event)"
	(onSessionCreated)="_onSessionCreated($event)"
	(onParticipantCreated)="_onParticipantCreated($event)"
></ov-videoconference>
