#participant-test-container{
	background: #d1d1d1;
	position: absolute;
	left: 50px;
	right: 50px;
	top: 150px;
	border: solid 2px;
	height: calc(100% - 250px);
	text-align: center;

	span {
		position: relative;
		top: 50%;
		font-size: medium;
		font-weight: bold;
	}
}
