!*/target/
*/target/*
!openvidu-java-client/target/openvidu-java-client.jar

/target
.classpath
.idea
.project
.settings
*.iml
*orig
.springBeans
*tmp/
*backup
*Backup
log.xml
nbactions.xml
*bower_components/
.externalToolBuilders
*bin/
*/.vscode/*
.vscode/*
*/.sts4-cache/*
*/.project
*/.classpath
*/.settings/*
*/.tscache/*

.factorypath
