!*/target/
*/target/*
!openvidu-java-client/target/openvidu-java-client.jar

/target
.classpath
.idea
.project
.settings
*.iml
*orig
.springBeans
*tmp/
*backup
*Backup
log.xml
nbactions.xml
*bower_components/
.externalToolBuilders
*bin/
*/.vscode/*
.vscode/*
*/.sts4-cache/*
*/.project
*/.classpath
*/.settings/*
*/.tscache/*

**/node_modules/
**/.angular/
**/.vscode
openvidu-components-angular/dist/
openvidu-components-angular/coverage/**
openvidu-components-angular/openvidu-webcomponent/
openvidu-components-angular/openvidu-angular-doc/
openvidu-components-angular/e2e/webcomponent-app/openvidu-webcomponent-dev.css
openvidu-components-angular/e2e/webcomponent-app/openvidu-webcomponent-dev.js
openvidu-components-angular/e2e/dist/
