#response-text-area {
  width: 100%;
  color: #808080;
  margin-top: 10px;
}

#response-text-area textarea {
  resize: none;
}

mat-dialog-content button,
mat-divider {
  margin-bottom: 5px;
}

mat-dialog-content button {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
}

.label {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 13px
}

.inner-text-input {
  margin-left: 9px;
  width: 30%;
}

#clear-response-text-area-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#manual-turn-div {
  background-color: #f7f7f7;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #00000026;
  border-radius: 3px;
}
