md-sidenav {
  width: 250px;
}

md-sidenav-container {
  height: 100%;
}

footer.page-footer {
  margin: 0;
}

footer h2 {
  margin-top: 10px;
}

.sidenav-button {
  width: 100%;
}

header .fill-remaining-space {
  flex: 1 1 auto;
}

header #navbar-logo {
  font-weight: bold;
}

footer ul {
  padding-left: 0;
}
