#dashboard-div {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  column-gap: 20px;
}

#server-events {
  flex-basis: 60%;
}

#server-video {
  flex-basis: 30%;
}

.flex-item {
  flex-grow: 1;
}

mat-card-header {
  padding-bottom: 16px;
}

#toggle-switch {
  margin-left: 10px;
}

#log {
  height: 100%;
}

#log-content {
  height: 90%;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  overflow-y: auto;
  overflow-x: hidden
}

ul {
  margin: 0;
}

#test-btn {
  text-transform: uppercase;
}

mat-card {
  background: white;
}

mat-card-title button.blue {
  color: #ffffff;
  background-color: #0088aa;
}

mat-card-title button.yellow {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffcc00;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tick-div {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tooltip-tick {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.circ {
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.tick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn+svg .path {
  opacity: 1;
  stroke-dashoffset: 0;
}

#mirrored-video {
  position: relative;
}

#msg-chain p:last-child {
  margin-bottom: 0;
}

/* >xs */
@media screen and (min-width: 600px) {

  #dashboard-div {
    flex-direction: row;
  }

}

/* xs */
@media screen and (max-width: 599px) {

  #dashboard-div {
    flex-direction: column;
  }

  #server-events {
    order: 2;
  }

  #server-video {
    order: 1;
    margin-bottom: 20px;
  }
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {}

/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {}

/* lg */
@media screen and (min-width: 1280px) and (max-width: 1919px) {}

/* xl */
@media screen and (min-width: 1920px) {}


/* Pure CSS loader */

#loader {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loader * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#loader ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#loader ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loader-1 {
  height: 100px;
  width: 100px;
  -webkit-animation: loader-1-1 4.8s linear infinite;
  animation: loader-1-1 4.8s linear infinite;
}

@-webkit-keyframes loader-1-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-1-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-1 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  clip: rect(0, 100px, 100px, 50px);
  -webkit-animation: loader-1-2 1.2s linear infinite;
  animation: loader-1-2 1.2s linear infinite;
}

@-webkit-keyframes loader-1-2 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(220deg);
  }
}

@keyframes loader-1-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(220deg);
  }
}

.loader-1 span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  clip: rect(0, 100px, 100px, 50px);
  border: 8px solid #4d4d4d;
  border-radius: 50%;
  -webkit-animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-1-3 {
  0% {
    -webkit-transform: rotate(-140deg);
  }

  50% {
    -webkit-transform: rotate(-160deg);
  }

  100% {
    -webkit-transform: rotate(140deg);
  }
}

@keyframes loader-1-3 {
  0% {
    transform: rotate(-140deg);
  }

  50% {
    transform: rotate(-160deg);
  }

  100% {
    transform: rotate(140deg);
  }
}