mat-radio-button {
    margin-left: 5px;
    font-size: 14px;
}

mat-radio-button:first-child {
    margin-left: 0;
}

.label {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    margin-bottom: 5px;
}

#turn-div {
    padding-bottom: 1.25em;
}

#turn-div mat-radio-button {
    display: block;
    margin-left: 0;
    margin-bottom: 3px;
}

#manual-turn-div {
    background-color: #f7f7f7;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #00000026;
    border-radius: 3px;
}

#role-div {
    padding-top: 6px;
    padding-bottom: 15px;
}