<div class="content" role="main">
	<div class="card-container">
		<div class="card card-small" (click)="goTo('toolbarDirective')" tabindex="0">
			<span>ToolbarDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('toolbarAdditionalButtonsDirective')" tabindex="0">
			<span>ToolbarAdditionalButtonsDirective</span>
		</div>
		<div class="card card-small" (click)="goTo('toolbarAdditionalPanelButtonsDirective')" tabindex="0">
			<span>ToolbarAdditionalPanelButtonsDirective</span>
		</div>
	</div>

	<div class="card-container">
		<div class="card card-small" (click)="goTo('layoutDirective')" tabindex="0">
			<span>LayoutDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('streamDirective')" tabindex="0">
			<span>StreamDirective</span>
		</div>
	</div>

	<div class="card-container">



		<div class="card card-small" (click)="goTo('panelDirective')" tabindex="0">
			<span>PanelDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('additionalPanelsDirective')" tabindex="0">
			<span>AdditionalPanelsDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('participantsPanelDirective')" tabindex="0">
			<span>ParticipantsPanelDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('chatPanelDirective')" tabindex="0">
			<span>ChatPanelDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('participantPanelItemElementsDirective')" tabindex="0">
			<span>ParticipantPanelItemElementsDirective</span>
		</div>

		<div class="card card-small" (click)="goTo('participantPanelItemDirective')" tabindex="0">
			<span>ParticipantPanelItemDirective</span>
		</div>

	</div>
</div>
