#response-text-area {
    width: 100%;
    color: #808080;
}

#response-text-area textarea {
    resize: none;
}

mat-dialog-content button, mat-divider {
    margin-bottom: 5px;
}

mat-dialog-content button {
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-flex;
}

.label {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 13px
}