<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="myTimestamp" timeReference="contextBirth"
		datePattern="HH-mm-ss" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<if condition='property("logging.colors").equalsIgnoreCase("false")'>
				<then>
					<pattern>[%p] %d [%.15t] %c \(%M\) - %msg%n
					</pattern>
				</then>
				<else>
					<pattern>%highlight([%p]) %d %magenta([%.15t]) %c \(%M\) - %msg%n
					</pattern>
				</else>
			</if>
		</encoder>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
	<if condition='property("openvidu.cdr").equalsIgnoreCase("true")'>
		<then>
			<appender name="CDR"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<FileNamePattern>log/CDR.%d{yyyy-MM-dd}_${myTimestamp}.log
					</FileNamePattern>
					<MaxHistory>30</MaxHistory>
					<TotalSizeCap>20GB</TotalSizeCap>
				</rollingPolicy>
				<encoder>
					<pattern>%m\n</pattern>
				</encoder>
			</appender>
			<logger name="io.openvidu.server.cdr.CDRLoggerFile">
				<level value="INFO" />
				<appender-ref ref="CDR" />
			</logger>
		</then>
	</if>
</configuration>