@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
  font-family: 'Exo 2', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

main {
  flex: 1;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

md-icon {
  cursor: pointer;
}

md-icon:hover {
  color: grey;
}

.container {
  padding: 25px;
}

.mat-sidenav-content {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.hover-link:hover {
  color: #ffd740 !important;
}

.feedback-list {
  font-weight: 500;
  margin-top: 5px;
  margin-left: 2em;
  display: list-item;
}

.div-inner-main {
  min-width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.block-btn {
  display: inline-block;
}

#publisher {
  position: absolute;
  width: 100%;
}

#publisher video {
  width: 100%;
}

#subscriber {
  position: absolute;
  bottom: 0;
}

#subscriber video {
  width: 350px;
}


/* Colors of Deep Purple Material Theme */

.back-primary {
  background: #673ab7 !important;
}

.back-accent {
  background: #ffd740;
}

.back-warn {
  background: #f44336;
}

.back-secondary {
  background: #D1C4E9;
}

.color-primary {
  color: #673ab7 !important;
}

.color-accent {
  color: #ffd740;
}

.color-warn {
  color: #f44336;
}

.color-secondary {
  color: #D1C4E9;
}


/*Loader*/

.cssload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.cssload-tube-tunnel {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border: 5px solid;
  border-radius: 50%;
  border-color: #673ab7;
  animation: cssload-scale 1035ms infinite linear;
  -o-animation: cssload-scale 1035ms infinite linear;
  -ms-animation: cssload-scale 1035ms infinite linear;
  -webkit-animation: cssload-scale 1035ms infinite linear;
  -moz-animation: cssload-scale 1035ms infinite linear;
}

@keyframes cssload-scale {
  0% {
    transform: scale(0);
    transform: scale(0);
  }
  90% {
    transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes cssload-scale {
  0% {
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes cssload-scale {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes cssload-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes cssload-scale {
  0% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.filtered {
  filter: blur(5px);
}


/*End Loader*/
