# ------------------------------------------------------------------------------
#
#    This file was genereated automatically
#
#    The value of COTURN_SHARED_SECRET_KEY is generated randomly and represents shared key
#    by Coturn and OpenVidu Server to generate users for TURN server dinamically.
#
#
#    Read more about it:
#       - https://tools.ietf.org/html/draft-uberti-behave-turn-rest-00
#       - https://www.ietf.org/proceedings/87/slides/slides-87-behave-10.pdf
#
#   If you want to change this value, you can change the value in this file or define COTURN_SHARED_SECRET_KEY
#   at the .env file of OpenVidu Server deployment
#
# ------------------------------------------------------------------------------
COTURN_SHARED_SECRET_KEY={{COTURN_SHARED_SECRET_KEY}}
