.div-wrapper {
  display: inline-flex;
  background-color: #797979;
  padding: 10px;
  border-radius: 2px;
}

md-card {
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
  padding-top: 10px;
}

md-card.session-card {
  padding: 15px;
  margin-left: 10px;
}

.session-form md-form-field {
  width: 130px;
}

.join-card {
  width: fit-content;
}

.join-card md-card-content {
  margin-bottom: 0;
}

.inner-card {
  border: 1px solid #e1e1e1;
  padding: 10px 15px 10px 15px;
  background: #ffffff;
}

.inner-card h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#join-btn {
  margin: 0 0 4px 4px;
}

#leave-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 8px;
}

md-radio-button {
  margin-bottom: 8px;
}

.video-container {
  min-width: 140px;
}

.session-card-header {
  display: flex;
}

.session-card-inner {
  width: 100%;
  margin-bottom: 8px;
}

.session-card-inner .session-title {
  float: left;
}

.session-card-inner .session-actions {
  float: right;
  margin-top: -5px;
}

.session-actions button {
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.session-actions button:hover {
  color: #4d4d4d;
}

.event-list-div {
  display: inline-block;
  width: 125px;
  height: 183.5px;
  overflow-y: auto;
  overflow-x: hidden;
}

md-chip {
  line-height: 6px;
  font-size: 9.5px;
  padding: 6px 9px !important;
  margin-bottom: 3.5px !important;
  margin-right: 5px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.scroll-custom::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  background-color: #e0e0e0;
}

.scroll-custom::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #797979;
}

md-expansion-panel {
  background: #e0e0e0 !important;
  margin-right: 0 !important;
}

md-expansion-panel-header {
  font-size: 10.5px !important;
  padding: 0 7px 0 9px !important;
}

.secure-div md-checkbox {
  padding-right: 10px;
}

.secure-div md-form-field {
  max-width: 80px;
}