md-card {
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

md-card.session-card {
  padding: 15px;
  margin-left: 10px;
}

.session-form md-form-field {
  width: 130px;
}

.join-card {
  width: fit-content;
}

.join-card md-card-content {
  margin-bottom: 0;
}

.inner-card {
  border: 1px solid #e1e1e1;
  padding: 10px 15px 10px 15px;
  background: #ffffff;
}

.inner-card h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#join-btn {
  margin: 0 0 4px 4px;
}

#leave-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 8px;
}

md-radio-button {
  margin-bottom: 8px;
}

.video-container {
  min-width: 140px;
}

.session-card-header {
  display: flex;
}

.session-card-inner {
  width: 100%;
  margin-bottom: 8px;
}

.session-card-inner .session-title {
  float: left;
}

.session-card-inner .session-actions {
  float: right;
  margin-top: -5px;
}

.session-actions button {
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.session-actions button:hover {
  color: #4d4d4d;
}
