.participant {
	float: left;
	width: 20%;
	margin: 10;
}

.participant video {
	width: 100%;
	height: auto;
}

#console {
	font-size: 14px;	
	border: 1px solid #ccc;
	overflow-y: auto;
	width: 100%;
	height: 175px;
}