
<div id="room">

    <div id="content">

        <div id="main-video">

            <!--big videos-->

        </div>

        <div id="logo">
            <img src="img/kurento.png" />
        </div>

        <div id="room-name">{{roomName}}</div>
        <div class="mb" align="right" style="margin: 1em; padding-bottom: 5px" id="buttonActions">
            <button class="btn btn--xl btn--fab mdi" ng-class="filterStyle" lx-ripple ng-click="applyFilter()" id="filterButton" title="Filter toggle"></button> <!--filter-->
            <button class="btn btn--xl btn--brown btn--fab mdi md-recent-actors" lx-ripple ng-click="disableMainSpeaker()" id="buttonMainSpeaker" title="Main Speaker toggle"></button> <!--disable Main Speaker-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-up" lx-ripple ng-click="onOffVolume()" id="buttonVolume" title="Audio toggle"></button> <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam" lx-ripple ng-click="onOffVideocam()" id="buttonVideocam" title="Video toggle"></button> <!--mute video-->
            <button class="btn btn--xl btn--blue-grey btn--fab mdi md-not-interested" lx-ripple ng-click="disconnectStream()" id="buttonDisconnect" title="Disconnect media stream"></button> <!--unpublish or unsubscribe media-->
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()" id="buttonLeaveRoom" title="Leave room"></button> <!--colgar-->
            <button class="btn btn--xl btn--green btn--fab mdi md-fullscreen" lx-ripple ng-click="goFullscreen()" title="Fullscreen"></button> <!--fullscreen-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat" lx-ripple ng-click="toggleChat()" title="Chat toggle"></button> <!--chat-->
        </div>

        <div id="participants">

            <!--small videos-->

        </div>
    </div>


    <!--CHAT--> 

    <div class="toggler" style="width: 20%;height: 100%;float: right" >
        <div id="effect" style="display:none">
            <!--head-->
            <div>
                <strong>Chat</strong>
                <button class="btn btn--s btn--blue btn--icon mdi md-close" lx-ripple ng-click="toggleChat()" id="button"></button> <!--close-->
            </div>

            <div id="chatDiv" style="height: 30em;  overflow: scroll;">
            	<div id="messages">
	                <ul class="list" >
	
	                    <!--chat messages with scroll-->
	
	                </ul>
                </div>
            </div>

            <!--message and button to send-->
            <div>
                <form>
                    <lx-text-field label="Message">
                        <input id="inputMessage" type="text" ng-model="message">
                    </lx-text-field>
                    <button type="submit" class="btn btn--m btn--green btn--raised" lx-ripple ng-click="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
