<md-sidenav-container>

  <md-sidenav #sidenav>
    <button md-button (click)="router.navigate(['/lessons']); sidenav.close()" class="sidenav-button">Lessons</button>
    <button md-button (click)="router.navigate(['/profile']); sidenav.close()" class="sidenav-button">Profile</button>
    <button md-button (click)="sidenav.close(); authenticationService.directLogOut()" class="sidenav-button">Logout</button>
  </md-sidenav>

  <header *ngIf="!isVideoSessionUrl()">
    <md-toolbar color="primary" class="mat-elevation-z6">
      <button md-button routerLink="/" id="navbar-logo">
        OpenVidu Sample App
      </button>
      <span class="fill-remaining-space"></span>
      <div *ngIf="authenticationService.isLoggedIn()" fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button routerLink="/lessons">Lessons</button>
        <button md-button routerLink="/profile">Profile</button>
        <button md-button (click)="authenticationService.directLogOut()">LOGOUT</button>
      </div>
      <button *ngIf="authenticationService.isLoggedIn()" md-button fxHide="false" fxHide.gt-sm (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="!isVideoSessionUrl()" class="page-footer back-primary color-secondary mat-elevation-z5">
    <div class="container">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start">
        <div fxFlex="50%" fxFlex.xs="100%">
          <h2>This is a sample application</h2>
          <p class="grey-text text-lighten-4">Implementing a secure real time app with OpenVidu</p>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
          <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.xs="start">
            <div fxFlex="50%">
              <h2>Technologies</h2>
              <ul>
                <li><a class="hover-link" href="https://angular.io/" target="_blank">Angular</a></li>
                <li><a class="hover-link" href="https://material.angular.io/" target="_blank">Angular Material</a></li>
                <li><a class="hover-link" href="https://spring.io/" target="_blank">Spring Framework</a></li>
                <li><a class="hover-link" href="https://www.kurento.org/" target="_blank">Kurento</a></li>
              </ul>
            </div>
            <div fxFlex="50%">
              <h2>Connect</h2>
              <ul>
                <li><a class="hover-link" href="https://github.com/OpenVidu" target="_blank">GitHub repository</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</md-sidenav-container>
