<div id="dashboard-div" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxFlexFill>

  <div fxLayout="column" fxFlex="66%" fxFlexOrder="1" fxFlexOrder.xs="2">
    <md-card id="log">
      <md-card-title>Server events
        <md-slide-toggle title="Lock Scroll" [(ngModel)]="lockScroll" style="float: right; margin-left: auto;">
          <md-icon>lock_outline</md-icon>
        </md-slide-toggle>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content #scrollMe id="log-content">
        <ul>
          <li *ngFor="let i of info">
            <p>{{i}}</p>
          </li>
        </ul>
      </md-card-content>
    </md-card>
  </div>

  <div fxLayout="column" fxFlex="33%" fxFlexOrder="2" fxFlexOrder.xs="1">
    <md-card id="video-loop">
      <md-card-title>Test the connection
        <button [class]="testStatus == 'DISCONNECTED' ? 'blue' : (testStatus == 'PLAYING' ? 'yellow' : 'disabled')" md-raised-button
          (click)="toggleTestVideo()" [disabled]="testStatus==='CONNECTING' || testStatus==='CONNECTED'">{{testButton}}</button></md-card-title>
      <md-card-content #scrollMe id="log-content">
        <div id="mirrored-video">
          <div *ngIf="showSpinner" id="loader">
            <div class="loader-1 center"><span></span></div>
          </div>
          <!--<md-spinner *ngIf="showSpinner" [color]="color"></md-spinner>-->
          <div *ngIf="session" id="tick-div">
            <div id="tooltip-tick" *ngIf="testStatus=='PLAYING'" mdTooltip="The connection is successful" mdTooltipPosition="below"></div>
            <div [class]="testStatus=='PLAYING' ? 'trigger drawn' : 'trigger'"></div>
            <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="-1 -1 39 39" style="enable-background:new 0 0 37 37;" xml:space="preserve">
              <path class="circ path" style="fill:none;stroke:#06d362;stroke-width:4;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
              />
              <polyline class="tick path" style="fill:none;stroke:#06d362;stroke-width:4;stroke-linejoin:round;stroke-miterlimit:10;" points="
	11.6,20 15.9,24.2 26.4,13.8 " />
            </svg>
          </div>
        </div>
        <div id="msg-chain"><p *ngFor="let msg of msgChain">{{msg}}</p></div>
      </md-card-content>
    </md-card>
  </div>

</div>
