#dashboard-div {
  padding: 20px;
}

#log {
  height: 100%;
}

#log-content {
  height: 90%;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  overflow-y: auto;
  overflow-x: hidden
}

ul {
  margin: 0;
}

md-card-title a {
  float: right;  
}