<!-- Toolbar -->
<div class="toolbar" role="banner">
	<img width="40" alt="Openvidu Logo" src="assets/images/openvidu_globe.png" />
	<span>{{ title }}</span>
	<div class="spacer"></div>
	<a aria-label="OpenVidu on twitter" target="_blank" rel="noopener" href="https://twitter.com/openvidu" title="Twitter">
		<svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
			<rect width="400" height="400" fill="none" />
			<path
				d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
				fill="#fff"
			/>
		</svg>
	</a>
</div>

<div class="content" role="main" style="height: 100%;">


	<div class="dashboard-section">

		<div id="call-app">

			<h2>OpenVidu Call APP</h2>
			<p>Test the OpenVidu Call app using <b>{{title}}</b>:</p>

			<div class="card-container">
				<a id="call-app-btn" class="card" (click)="goTo('call')">

					<span>OpenVidu Call APP</span>

					<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
					</svg>
				</a>
			</div>

		</div>

	</div>


	<div class="dashboard-section">
		<div id="testing-app">

			<h2>Testing APP</h2>
			<p>App for automated testing of openvidu-angular</p>

			<input type="hidden" #selection />

			<div class="card-container">
				<a class="card" id="testing-app-btn" (click)="goTo('testing')">

					<span>Testing App</span>

					<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
					</svg>
				</a>
			</div>

		</div>

	</div>
</div>