.demo-tab-content {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 100%;
}

table tr {
  text-align: left;
}

#table-row {
  margin-top: 40px;
}

.first-col {
  padding-right: 20px;
}

th {
  padding-bottom: 20px;
}

#server-data-field {
  padding-top: 16px;
}

app-openvidu-instance {
  display: inline-flex;
  margin: 15px 25px 0 0;
  background-color: #797979;
  padding: 10px;
  border-radius: 2px;
}