.demo-tab-content {
  margin-top: 50px;
}

table {
  width: 100%;
}

table tr {
  text-align: left;
}

#table-row {
  margin-top: 40px;
}

.first-col {
  padding-right: 20px;
}

th {
  padding-bottom: 20px;
}

#server-data-field {
  padding-top: 16px;
}

md-card {
  background-color: rgba(77, 77, 77, 0.05);
}

.join-card {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.full-width {
  width: 100%;
}

.inner-card {
  border: 1px solid #e1e1e1;
  padding: 16px;
  background: #ffffff;
  margin-top: 20px;
}

.inner-card h4 {
  margin-top: 0;
}

.inner-card md-radio-group {
  padding-left: 20px;
}