.resolution-div {
  border: 1px solid #e0e0e0;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  width: fit-content;
  margin-top: 8px;
}

.resolution-title {
  margin-top: 2px;
}

mat-form-field {
  font-size: 124x;
  width: 100px;
  margin-right: 4px;
}
