.parent-div {
    display: grid;
    margin-bottom: 4px;
    background-color: #fcfcfc;
    padding: 2px;
    border-radius: 2px;
}

span {
    font-size: 10px;
}

.bottom-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: -2px;
}

.audio-btn {
    border: none;
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    padding: 0;
    height: 16px;
    float: left;
}

.audio-btn:hover {
    color: #4d4d4d;
}

.audio-btn.top-row {
    margin-top: 0;
    display: inline-flex;
    float: right;
}

.audio-btn mat-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 16px;
}