@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #4d4d4d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  font-family: Roboto,Helvetica Neue,sans-serif;
}

main {
  height: 100%;
}

li {
  list-style: none;
}

#mirrored-video video {
  width: 100%;
}

.mat-spinner path {
  stroke: #4d4d4d;
}