
<ov-videoconference (onJoinClicked)="onJoinClicked()" [tokens]="tokens">


	<!-- <ov-toolbar toolbar (onCamClicked)="onCamClicked()"></ov-toolbar> -->


	<!-- <ov-toolbar panel (onCamClicked)="onCamClicked()"></ov-toolbar> -->
	<!-- <ov-toolbar chatPanel (onCamClicked)="onCamClicked()"></ov-toolbar> -->
	<!-- <ov-toolbar participantsPanel (onCamClicked)="onCamClicked()"></ov-toolbar> -->


	<!-- <ov-toolbar layout (onCamClicked)="onCamClicked()"></ov-toolbar> -->

	<!-- <div *ovStream="let stream">

		<p>{{stream.videoEnlarged}}</p>
		<ov-stream [stream]="stream"></ov-stream>
	</div> -->


</ov-videoconference>
