<ov-videoconference
	[simulcast]="true"
	[tokens]="tokens"
	[minimal]="false"
	[lang]="'es'"
	[langOptions]="[
		{ name: 'Spanish', lang: 'es' },
		{ name: 'custom', lang: 'cus' }
	]"
	[captionsLang]=""
	[captionsLangOptions]="[
		{ name: 'Spanish', lang: 'es-ES' },
		{ name: 'English', lang: 'en-US' }
	]"
	[prejoin]="false"
	[participantName]="'Participant'"
	[videoMuted]="false"
	[audioMuted]="false"
	[toolbarScreenshareButton]="true"
	[toolbarFullscreenButton]="true"
	[toolbarCaptionsButton]="true"
	[toolbarRecordingButton]="true"
	[toolbarBroadcastingButton]="true"
	[toolbarBackgroundEffectsButton]="true"
	[toolbarLeaveButton]="true"
	[toolbarChatPanelButton]="true"
	[toolbarParticipantsPanelButton]="true"
	[toolbarDisplayLogo]="true"
	[toolbarDisplaySessionName]="true"
	[streamResolution]="'160x120'"
	[streamFrameRate]="2"
	[streamDisplayParticipantName]="true"
	[streamDisplayAudioDetection]="true"
	[streamSettingsButton]="true"
	[participantPanelItemMuteButton]="true"
	[activitiesPanelRecordingActivity]="true"
	[recordingActivityRecordingsList]="recordingList"
	[recordingActivityRecordingError]="recordingError"
	[broadcastingActivityBroadcastingError]="broadcastingError"
	[toolbarSettingsButton]="true"
	(onJoinButtonClicked)="onJoinClicked()"
	(onToolbarLeaveButtonClicked)="onToolbarLeaveButtonClicked()"
	(onToolbarCameraButtonClicked)="onToolbarCameraButtonClicked()"
	(onToolbarMicrophoneButtonClicked)="onToolbarMicrophoneButtonClicked()"
	(onToolbarScreenshareButtonClicked)="onToolbarScreenshareButtonClicked()"
	(onToolbarFullscreenButtonClicked)="onToolbarFullscreenButtonClicked()"
	(onToolbarParticipantsPanelButtonClicked)="onToolbarParticipantsPanelButtonClicked()"
	(onToolbarChatPanelButtonClicked)="onToolbarChatPanelButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked()"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked()"
	(onToolbarStartBroadcastingClicked)="onStartBroadcastingClicked($event)"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked()"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelDeleteRecordingClicked)="onDeleteRecordingClicked($event)"
	(onActivitiesPanelForceRecordingUpdate)="onForceRecordingUpdate()"
	(onActivitiesPanelStartBroadcastingClicked)="onStartBroadcastingClicked($event)"
	(onActivitiesPanelStopBroadcastingClicked)="onStopBroadcastingClicked()"
	(onToolbarStopBroadcastingClicked)="onStopBroadcastingClicked()"
	(onNodeCrashed)="onNodeCrashed()"
	(onLangChanged)="onLangChanged($event)"
>
	<!-- <div *ovActivitiesPanel>{{ 'CUSTOM.BUTTON' | translate }}</div> -->

	<!-- <ov-toolbar *ovToolbar [activitiesPanelButton]="false"
	[chatPanelButton]="false"></ov-toolbar> -->
	<!-- <div *ovStream="let stream">
		<ov-stream [stream]="stream" [displayParticipantName]="false" [frameRate]="2" [resolution]="'160x120'"></ov-stream>
		<p>{{ stream.participant.nickname }}</p>
	</div> -->
</ov-videoconference>
