<div id="events"></div>

@if (configReady) {
	<ov-videoconference
		[token]="token"
		[tokenError]="tokenError"
		[minimal]="minimal"
		[lang]="lang"
		[langOptions]="langOptions"
		[prejoin]="prejoin"
		[prejoinDisplayParticipantName]="prejoinDisplayParticipantName"
		[participantName]="participantName"
		[videoEnabled]="videoEnabled"
		[audioEnabled]="audioEnabled"
		[toolbarCameraButton]="toolbarCameraButton"
		[toolbarMicrophoneButton]="toolbarMicrophoneButton"
		[toolbarScreenshareButton]="toolbarScreenshareButton"
		[toolbarFullscreenButton]="toolbarFullscreenButton"
		[toolbarRecordingButton]="toolbarRecordingButton"
		[toolbarBroadcastingButton]="toolbarBroadcastingButton"
		[toolbarBackgroundEffectsButton]="toolbarBackgroundEffectsButton"
		[toolbarLeaveButton]="toolbarLeaveButton"
		[toolbarChatPanelButton]="toolbarChatPanelButton"
		[toolbarParticipantsPanelButton]="toolbarParticipantsPanelButton"
		[toolbarDisplayLogo]="toolbarDisplayLogo"
		[toolbarDisplayRoomName]="toolbarDisplayRoomName"
		[toolbarActivitiesPanelButton]="toolbarActivitiesPanelButton"
		[streamDisplayParticipantName]="streamDisplayParticipantName"
		[streamDisplayAudioDetection]="streamDisplayAudioDetection"
		[streamVideoControls]="streamVideoControls"
		[participantPanelItemMuteButton]="participantPanelItemMuteButton"
		[activitiesPanelRecordingActivity]="activitiesPanelRecordingActivity"
		[activitiesPanelBroadcastingActivity]="activitiesPanelBroadcastingActivity"
		[toolbarSettingsButton]="toolbarSettingsButton"
		[toolbarViewRecordingsButton]="toolbarViewRecordingsButton"
		[recordingActivityShowControls]="{
			play: false,
			download: false,
			delete: false,
			externalView: true
		}"
		[recordingActivityReadOnly]="false"
		[recordingActivityStartStopRecordingButton]="recordingActivityStartStopRecordingButton"
		[recordingActivityViewRecordingsButton]="recordingActivityViewRecordingsButton"
		[recordingActivityShowRecordingsList]="true"
		(onTokenRequested)="onTokenRequested($event)"
		(onReadyToJoin)="onReadyToJoin()"
		(onRoomCreated)="onRoomCreated($event)"
		(onParticipantCreated)="onParticipantCreated($event)"
		(onParticipantLeft)="onParticipantLeft($event)"
		(onRoomDisconnected)="onRoomDisconnected()"
		(onVideoEnabledChanged)="onVideoEnabledChanged($event)"
		(onVideoDeviceChanged)="onVideoDeviceChanged($event)"
		(onAudioEnabledChanged)="onAudioEnabledChanged($event)"
		(onAudioDeviceChanged)="onAudioDeviceChanged($event)"
		(onLangChanged)="onLangChanged($event)"
		(onScreenShareEnabledChanged)="onScreenShareEnabledChanged($event)"
		(onFullscreenEnabledChanged)="onFullscreenEnabledChanged($event)"
		(onParticipantsPanelStatusChanged)="onParticipantsPanelStatusChanged($event)"
		(onChatPanelStatusChanged)="onChatPanelStatusChanged($event)"
		(onRecordingStartRequested)="onRecordingStartRequested($event)"
		(onRecordingStopRequested)="onRecordingStopRequested($event)"
		(onRecordingDeleteRequested)="onRecordingDeleteRequested($event)"
		(onBroadcastingStartRequested)="onBroadcastingStartRequested($event)"
		(onBroadcastingStopRequested)="onBroadcastingStopRequested($event)"
		(onSettingsPanelStatusChanged)="onSettingsPanelStatusChanged($event)"
		(onActivitiesPanelStatusChanged)="onActivitiesPanelStatusChanged($event)"
		(onViewRecordingClicked)="onRoomDisconnected()"
	>
	</ov-videoconference>
}
