h1 {
  text-align: center;
  display: block;
}

md-input-container {
  width: 100%;
}

md-card-actions {
  padding-left: 10px;
  padding-right: 10px;
  color: #9e9e9e;
}

.btn-container {
  text-align: center;
  padding-top: 20px;
}

.card-button {
  margin-left: 10px !important;
}

.radio-button-div {
    text-align: center;
    margin-bottom: 10px;
}

#sign-up-as {
  color: #9e9e9e;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
