name: openvidu-components-angular E2E
on:
  push:
    paths:
      - 'openvidu-components-angular/**'
      - 'openvidu-browser/**'
  pull_request:
    branches:
      - master
  workflow_dispatch:


jobs:

  openvidu_angular_e2e:
    name: E2E tests
    runs-on: ubuntu-latest
    env:
      OPENVIDU_DISPATCH_EVENT_GA: ${{ secrets.OPENVIDU_DISPATCH_EVENT_GA }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Send repository dispatch event
      run: |
        curl \
        -X POST \
        -H "Accept: application/vnd.github+json" \
        -H "Authorization: Bearer ${OPENVIDU_DISPATCH_EVENT_GA}" \
        https://api.github.com/repos/OpenVidu/openvidu-call/dispatches \
        -d '{"event_type":"on-demand-e2e-test"}'
    - name: Run Selenium Chromedriver
      run: docker run -d --shm-size="2g" --network host selenium/standalone-chrome:104.0
    - name: Run openvidu-server-kms
      run: |
        docker run -p 4443:4443 --rm -d \
        -e OPENVIDU_SECRET=MY_SECRET \
        openvidu/openvidu-dev:latest
    - name: Build openvidu-browser
      run: |
        cd openvidu-browser
        npm install
        npm run build && npm pack
        mv openvidu-browser-*.tgz ../openvidu-components-angular
    - name: Install openvidu-browser
      run: |
        cd openvidu-components-angular
        npm install openvidu-browser-*.tgz
    - name: Install dependencies
      run: npm install --prefix openvidu-components-angular
    - name: Build openvidu-angular
      run: npm run lib:build --prefix openvidu-components-angular
    - name: Build openvidu-webcomponent
      run: npm run webcomponent:build --prefix openvidu-components-angular
    - name: Build openvidu-angular-testapp
      run: npm run build --prefix openvidu-components-angular
    - name: Serve openvidu-angular-testapp
      run: npm run start-prod --prefix openvidu-components-angular &
    - name: Run openvidu-angular E2E
      run: npm run lib:e2e-ci --prefix openvidu-components-angular
    - name: Serve Webcomponent Testapp
      run: npm run webcomponent:serve-testapp --prefix openvidu-components-angular &
    - name: Run Webcomponent E2E
      run:  npm run webcomponent:e2e-ci --prefix openvidu-components-angular
